.block-text {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.photo {
    width: 132px;
    height: 132px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.personPhoto {
    width: auto;
    height: 100%;
    margin: 0 auto;
}
